nav.navbar {
	padding: 1rem 1rem;
	/*background-color: #563d7c !important;*/
	background-color: #1d3888 !important;
}
#navbarNav {
	justify-content: flex-end;
}
.events-header {
	max-width: 700px;
}

.card img {
	width: 200px;
	height: 245px;
	object-fit: cover;
}

.bd-masthead {
    position: relative;
    padding: 3rem 15px;
}

.contact-details { 
	background: url(/library/img/contact-us-header-bg-globe.png);
	color: #fff;
	/*width: fit-content;*/
}

/** min-height: calc(Full Height - Navbar); **/
.fh-nh { min-height: calc(100vh - 72px); }

@media (min-width: 576px) {
	.bd-masthead {
	    /**
	    padding-top: 5rem;
	    padding-bottom: 5rem;
	    **/
	    padding-top: 2rem;
	    padding-bottom: 2rem;
	}
}

@media (max-width: 767px) {
	#carouselExampleIndicators {
	    padding-top: 1.5rem;
	}
}

/** Config Card Image**/
@media (max-width: 1315px) {
	.card .image-right {
		height: 278px;
	}
}

@media (max-width: 1312px) {
	.card .image-right {
		height: 302px;
	}
}

@media (max-width: 1138px) {
	.card .image-right {
		height: 326px;
	}
}

@media (max-width: 1052px) {
	.card .image-right {
		height: 350px;
	}
}

@media (max-width: 1039px) {
	.card .image-right {
		height: 383px;
	}
}

@media (max-width: 993px) {
	.card .image-right {
		height: 407px;
	}
}

@media (max-width: 993px) {
	.card .image-right {
		height: 407px;
	}
}

/** Config background image of contact details**/
@media (min-width: 1170px) and (max-width: 1358px) {
	.contact-details .col-md-6 {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

@media (min-width: 1116px) and (max-width: 1169px) {
	.contact-details .col-md-6 {
		margin-right: 1rem;
	}
}

@media (min-width: 768px) and (max-width: 1115px) {
	.contact-details .col-md-6 {
		max-width: 100%;
		flex: 0 0 100%;
	}
}

@media only screen and (min-height: 777px) {
	.contact-details .col-md-6 {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.contact-details h5 {
		font-size: 1.75rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.contact-details h3 {
		font-size: 2.3rem;
	}
}